<main class="content">
  <div class="content-left">
    <img src="/images/error.png" class="img" alt="Ops!" />
  </div>
  <div class="content-right">
    <h2 class="code"><%-code%></h2>
    <p class="message"><%-message%></p>
    <div class="mt-3 w-25 mx-auto"><%- include('../partials/logo') %></div>
  </div>
</main>
