<div class="bg-white border rounded p-4">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="text-bold mb-0"><%-page.i18n.report%></h5>
    <div class="div-report-date">
      <input type="hidden" id="filter-report-date" />
      <button class="btn btn-change-date" data-type="previous">
        <span class="sap-icons">&#xe1eb;</span>
      </button>
      <div class="mb-0" id="report-date"></div>
      <button class="btn btn-change-date" data-type="next">
        <span class="sap-icons">&#xe066;</span>
      </button>
    </div>
  </div>
  <div class="mt-4 row g-3">
    <div class="col-8">
      <canvas id="chart-expenses-revenues"></canvas>
    </div>
    <div class="col-4">
      <canvas id="chart-expenses-category"></canvas>
    </div>
    <div class="col-12">
      <canvas id="chart-expenses-budget"></canvas>
    </div>
  </div>
</div>
