<div class="bg-white border rounded p-4">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="text-bold mb-0"><%-page.i18n.transactions%></h5>
    <div>
      <button data-type="O" class="btn btn-danger btn-add-transaction">
        <span class="sap-icons me-1">&#xe069;</span>
        <%-page.i18n.expenses%>
      </button>
      <button data-type="I" class="btn btn-success btn-add-transaction">
        <span class="sap-icons me-1">&#xe058;</span>
        <%-page.i18n.revenues%>
      </button>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center mt-4">
    <div class="div-transaction-date">
      <input type="hidden" id="filter-transaction-date" />
      <button class="btn btn-change-date" data-type="previous">
        <span class="sap-icons">&#xe1eb;</span>
      </button>
      <div class="mb-0" id="transaction-date"></div>
      <button class="btn btn-change-date" data-type="next">
        <span class="sap-icons">&#xe066;</span>
      </button>
    </div>
    <input type="text" placeholder="<%-page.i18n.search%>" id="input-search" />
  </div>
  <div class="mt-4" id="div-transaction-result"></div>
</div>
